In [1]:
#>>Pandas is an open source library, providing high-performance, easy-to-use data structures and data analysis tools for Python#
#it is used to handle multi datatype unlike nyumpy which can deal with single data type#
#DataFrame is one of most important data structure in pandas#
import pandas as pd
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
my_dict = {'country':names,
'drives_right':dr ,'cars_per_cap':cpc}   # creating dictonary from list
print(my_dict)
cars = pd.DataFrame(my_dict)  # creating data frame from dictonary
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']   
cars.index = row_labels      #declaring labels instead of 0,1,2,3,4,5,6
print(cars)

{'country': ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt'], 'drives_right': [True, False, False, False, True, True, True], 'cars_per_cap': [809, 731, 588, 18, 200, 70, 45]}
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [2]:
#>>Importing CSV file using pandas # various kinds of built in function that we normally we use in pandas#
import pandas as pd
m =pd.read_csv(r'C:\\Users\\prasanth vattikonda\\Python\raw_fighter_details.csv')  #.csv is mandatory
#>>now the most important part using pnadas in Exploratary Data Analysis (EDA).Please find below #
m.head()          #to list the forst 5 rows
m.info()          #to provide the information about the dataset like range,no. of columns,datatypes and memory
m.describe()      #to provide the frequency datails of each values in a row
m.isnull()        #to list out the null values presence 
m.tail()          #Last five rows of the given dataset

#>>Indexing and Selecting Data from Pandas
m['Stance']       #Using Single bracket we can list out the particular one column values
m[['Stance']]     #Usning Double bracket we can list out the particular one or more column values as in the dataframe 
#m['Weight','Stance'] #Single bracket won't work for more than one column
m[['Weight','Stance']] #See how it workes with double brackets
m[0:3]            #indexing to list out the first 3 observations using square brackets
#>loc and iloc are the label based secelction operations
#m.loc['label name'] #if you any label name you give here
m.iloc[2]         #integer index can be given as a lebel if there is no label name specified
#Same as done above , if you are looking for more than one observations, you can go for double brackets
#In the same we can also use these label operations for both rows and also columns as well. Let's see
m.loc[[0,1],['Weight','Stance']]
#Now, we can also select only columns using these label operations, here you go
m.loc[:,'Weight'] #selection as series 
m.loc[:,['weight','Stance']]  #Slection as Data Frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3313 entries, 0 to 3312
Data columns (total 6 columns):
fighter_name    3313 non-null object
Height          3050 non-null object
Weight          3238 non-null object
Reach           1569 non-null object
Stance          2439 non-null object
DOB             2573 non-null object
dtypes: object(6)
memory usage: 155.4+ KB

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

      weight    Stance
0        NaN       NaN
1        NaN       NaN
2        NaN       NaN
3        NaN       NaN
4        NaN       NaN
...      ...       ...
3308     NaN  Orthodox
3309     NaN  Southpaw
3310     NaN  Orthodox
3311     NaN  Orthodox
3312     NaN  Orthodox

[3313 rows x 2 columns]

In [3]:
#Boolean operations in pandas DataFrame
import pandas as pd
s = pd.read_csv(r'C:\\Users\\prasanth vattikonda\\Python\raw_fighter_details.csv')
m= s['Height'] 
print(m)

0        5' 4"
1       5' 11"
2       5' 10"
3        5' 7"
4        6' 0"
         ...
3308     6' 0"
3309    5' 11"
3310     5' 4"
3311     6' 1"
3312     5' 8"
Name: Height, Length: 3313, dtype: object